services:
  postgres-sakila:
    image: sakiladb/postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: p_ssW0rd
      POSTGRES_DB: sakila
    volumes:
      - sakila_postgres_data:/var/lib/postgresql/data

  postgres-auth:
    image: postgres:15-alpine
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: auth_db
    volumes:
      - auth_postgres_data:/var/lib/postgresql/data

volumes:
  sakila_postgres_data:
  auth_postgres_data:
